{% extends "base.html" %}
    {% block title%}About{% endblock %}
    
    {% block content %}
    <div class="container text-left">
        <h1>About</h1>
        <p>I just thought I'd try something with the Spotify API and I thought of this little do-hickey.</p>
        <br>
        <small>Made possible by the <a href="https://github.com/plamere/spotipy">Spotify Python library</a>,<a href="https://developers.google.com/chart/"> Google Charts</a>, and <a href="http://flask.pocoo.org/">Flask</a></small>        
    </div>

    {% endblock %}
